# See https://help.github.com/articles/ignoring-files for more about ignoring files.

# Ignore bundler config
/.bundle
/vendor/bundle

# Ignore environment files
/.env*
!/.env*.erb

# Ignore logs and temp files
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore storage
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

# Ignore master key
/config/master.key

# Ruby / Bundler
*.gem
*.rbc
/.config
/coverage/
/InstalledFiles
/pkg/

# Test / Spec
/spec/reports/
/spec/examples.txt
/test/tmp/
/test/version_tmp/

# Debugging
.byebug_history

# RubyMotion
.dat*
.repl_history
build/
build-iPhoneOS/
build-iPhoneSimulator/
*.bridgesupport

# Documentation
/.yardoc/
/_yardoc/
/doc/
/rdoc/

# RVM
.rvmrc
